@import "bootstrap/scss/bootstrap";
@import "settings.scss";

// div,
// nav,
// ul {
// 	outline: solid 1px red;
// }

body {
	font-family: $primary-font;
	color: $primary-color;

	#home {
		height: 100dvh;
		background-color: $secondary-color;

		.container-about {
			height: 100%;
			position: relative;
			color: $primary-color;

			.container-header {
				height: 85%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;

				.name {
					font-size: 6em;
					animation-duration: 2s;
					animation-name: name;
					color: transparent;
					-webkit-text-stroke-width: 2px;
					-webkit-text-stroke-color: $primary-color;
				}

				hr {
					border: solid 1px $primary-color;
					animation-duration: 3s;
					animation-name: line;
				}

				.work {
					font-size: 3em;
					animation-duration: 2s;
					animation-name: work;
				}

				.header-buttons {
					display: flex;
					justify-content: space-between;
					animation-duration: 2s;
					animation-name: work;

					.btn-grad {
						background-image: linear-gradient(to right, transparent 0%, transparent 25%, $primary-color 51%, transparent 75%, transparent 100%);
						background-size: 400% auto;
						transition: 1s;
						text-decoration: none;
						margin-top: 1em;
						padding: 5px 10px;
						text-align: center;
						text-transform: uppercase;
						color: $primary-color;
						font-weight: bold;
						display: block;
						border: solid 2px $primary-color;
					}

					.btn-grad:hover {
						background-position: right center;
						text-decoration: none;
					}
				}

				.stage {
					margin-top: 3em;
					animation-duration: 4s;
					animation-name: stage;

					p {
						font-size: 2em;
						font-weight: bolder;
						text-transform: uppercase;
					}
				}
			}

			.contact {
				height: 10vh;
				display: flex;
				justify-content: center;
				align-items: center;
				visibility: hidden;
				opacity: 0;
				transition: 0.6s;
				transform: translateX(-200px);

				a {
					margin: 1em;

					img {
						width: 50px;
					}
				}

				a:hover {
					opacity: 0.5;
				}
			}

			.next {
				height: 5%;
				display: flex;
				justify-content: center;

				.next-btn {
					.material-symbols-outlined {
						color: $primary-color;
						cursor: pointer;
						animation-duration: 1.5s;
						animation-name: next;
						animation-iteration-count: infinite;
					}
				}
			}
		}
	}

	#about {
		height: 100vh;
		background-color: $primary-color;

		nav {
			background-color: $primary-color;
			// width: 100%;
			height: 10vh;
			position: sticky;
			top: 0px;

			a {
				color: $secondary-color;
			}

			.navbar-nav {
				margin-left: auto;

				.nav-item {
					margin-right: 1em;
				}
			}
		}

		.container-about {
			height: 85vh;
			display: flex;
			justify-content: center;
			align-items: center;

			.zeub {
				height: 50%;
				// width: 100%;
				display: flex;

				.picture {
					height: 100%;
					width: 30%;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: auto;
						height: 100%;
					}
				}

				.description {
					background-color: $primary-color;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 70%;
					height: 100%;
					color: $secondary-color;
					padding: 0em 1em 3em 6em;

					h2 {
						font-size: 4em;
						margin-bottom: 1em;
					}

					p {
						text-align: justify;
						font-size: 1.2em;
						line-height: 2;
						@media (min-width: 1000px) {
							font-size: 1em;
						}
					}
				}
			}
		}

		.next {
			height: 5%;
			display: flex;
			justify-content: center;

			.next-btn {
				.material-symbols-outlined {
					color: $secondary-color;
					cursor: pointer;
					animation-duration: 1.5s;
					animation-name: next;
					animation-iteration-count: infinite;
				}
			}
		}
	}

	#skills {
		height: 40vh;
		background-color: $secondary-color;
		display: flex;
		justify-content: center;

		.container-skills {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.container-item-skills {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;

				.skills-item {
					margin: 0.5em;
					padding: 8px 13px;
					border: 1px solid $primary-color;
					background-color: transparent;
					color: $primary-color;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	.about-mobile {
		display: none !important;
	}
}

@media (max-width: 1000px) {
	.next {
		visibility: hidden !important;
	}

	.about {
		display: none !important;
	}

	.about-mobile {
		height: 100vh;
		background-color: $primary-color;
		color: $secondary-color;

		.container {
			height: 100%;

			.picture {
				width: 100%;
				display: flex;
				justify-content: center;
				padding-top: 3em;
			}

			.description {
				margin-top: 3em;
				padding: 0em 1em 0em 1em;
				h2 {
					font-size: 2em;
				}

				p {
					font-size: 1.2em;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	* {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.container-skills {
		width: 40%;
	}
}
